@model OidUserInfo

<h2>Welcome! @Html.DisplayFor(model => model.UserName).</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>@Html.DisplayNameFor(model => model.IdToken)</td>
            <td>@Html.DisplayFor(model => model.IdToken)</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>@Html.DisplayNameFor(model => model.AccessToken)</td>
            <td>@Html.DisplayFor(model => model.AccessToken)</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>@Html.DisplayNameFor(model => model.RefreshToken)</td>
            <td>@Html.DisplayFor(model => model.RefreshToken)</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>@Html.DisplayNameFor(model => model.ExpiresAt)</td>
            <td>@Html.DisplayFor(model => model.ExpiresAt)</td>
        </tr>
    </tbody>
</table>
<hr />
<h3>Now you can go to the <a asp-controller="OpenId" asp-action="Demo">Demo page</a>, or <a asp-controller="OpenId" asp-action="Logout">sign out</a>.</h3>
